
<div class="row temp">
<div class="col-md-4 well">
<h3>Baby Toy1</h3>
<img src="img/TOY1.jpg"/>
<h4> $10.99</h4>
<a class="btn btn-primary btn-block" href="#/template/1">Details</a>
</div>

<div class="col-md-4 well">
<h3>Baby Toy2</h3>
<img src="img/TOY2.jpg"/>
<h4> $10.99</h4>
<a class="btn btn-primary btn-block" href="#/template/2">Details</a>
</div>

<div class="col-md-4 well">
<h3>Baby Toy3</h3>
<img src="img/TOY3.jpg"/>
<h4> $10.99</h4>
<a class="btn btn-primary btn-block" href="#/template/3">Details</a>
</div>

<div class="col-md-4 well">
<h3>Baby Toy4</h3>
<img src="img/TOY4.jpg"/>
<h4> $10.99</h4>
<a class="btn btn-primary btn-block" href="#/template/4">Details</a>
</div>

<div class="col-md-4 well">
<h3>Baby Toy5</h3>
<img src="img/TOY5.jpg"/>
<h4> $10.99</h4>
<a class="btn btn-primary btn-block" href="#/template/5">Details</a>
</div>

<div class="col-md-4 well">
<h3>Baby Toy6</h3>
<img src="img/TOY6.jpg"/>
<h4> $10.99</h4>
<a class="btn btn-primary btn-block" href="#/template/6">Details</a>
</div>

</div>

